.navbar h3 {
    font-family: 'Saira', sans-serif;
    margin-bottom: 0;
    margin-left: 5px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar {
    font-family: 'Saira', sans-serif;
}

.navbar-light .navbar-toggler {
    border: none;
    margin-top: 10px;
}
