body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}



/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
  #app {
    zoom: 0.6;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  #app {
    zoom: 0.8;
  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  #app {
    zoom: 1;
  }
}



.site-footer {
  display: flex;
  align-items: center;
  background: #f3f3f3;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer,
.page-wrap:after {
  height: 60px;
}
